html,body {
  margin: 0;
  height: 200vh;
}

#root {
  padding: 10px;
}

li {
  padding: 20px;
}

.btn {
  background-color: royalblue;
  border: none;
  padding: 12px;
  margin: 10px;
  color: white;
}
